h2{
    font-family:cursive;
    font-weight:bold;
    font-size: 50px;
}p{
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
}p:nth-of-type(1){
    background-color: rgba(195, 14, 14, .75);
}p:nth-of-type(2){
    background-color: rgba(22, 171, 5, 1);
   box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.65)
}p:nth-of-type(3){
    background-color: rgba(5, 28, 177, .75);
}p:nth-of-type(4){
    background-color: rgba(255, 251, 0, 1);
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}