.lorem, .lorem2, .lorem3 {
    background-color: #eee;
    width: 400px;
    margin: 15px auto;
    padding: 15px;
    
  }

.lorem2 {

  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
}

.lorem3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}